<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Sign In
                </span>
            </div>
            {{#if_not_empty error}}
            <div class="alert alert-danger alert-dismissible fade show fs-13 mt-3 mx-3" role="alert">
                {{error}}
                <button type="button" class="close fs-19" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if_not_empty}}

            <form class="login100-form validate-form p-b-30" method="POST" action="/login">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="email" name="email" placeholder="Enter email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="password" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn ml-5">
                        Login
                    </button>
                </div>
            </form>

            <div class="w-100 mt-0">
                <div class="txt1 text-center p-b-10 di">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>
                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="/auth/twitter" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </div>
            <div class="row w-100 mt-3 txt1 mb-3 justify-content-center align-items-center">
                <span>Dont have an account? <a href="/signup"> Create</a></span>
            </div>
        </div>
    </div>
</div>